*.swp
*secret*
initramfs
busybox
!busybox/_install/*

linux
!linux/arch/riscv/boot/Image

hello
hello.o

**/embedhello
**/embedhello-qemu
**/embedhello.hex

**/c_embed/c_embed
**/c_embed/*.o
**/c_embed/*.s
!**/c_embed/startup.s


